<html>
<body style="margin:0px;width:100%;padding:20px;">
<table cellspacing="0" style="background-image: url('bg.png');background-repeat:no-repeat;width:600px; margin:0 auto; position:relative; border:1px solid #f8f8f8; box-shadow: #e5e5e5 0 0 60px;padding:15px;">
<tbody>
   <tr>
      <td>
               <table style="width:100%;border: 1px solid #ec2027; ">
                  <tbody>
                     <tr>
                        <td>
                           <table style="width:100%">
                              <tbody>
                                 <tr>
                                    <td style="padding-left:0px" >
                                       <div  style="padding: 0px 60px;text-align:center; margin-top: 37px; ">
                                          <img src="https://s3.amazonaws.com/fetch39/LOGO/logo.png" alt="Fetch39 logo" style="width: 80px;display:block;margin:auto;">
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                      </tr>
                    <tr>
                      <td>
                        <table style="width:100%">
                           <tbody>
                              <tr>
                                 <td style="float:right; text-align:right; width:60%; color:#7e7e7e; font-family:Arial,Helvetica,sans-serif; font-size:16px">
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="4" >
                           <table cellspacing="0" cellpadding="0" style="width:100%;background: white;border-radius:0px 0px 30px 30px;padding-bottom:40px;">
                              <tbody>
                                 <tr style="width:100%;padding:0 20px 81px 20px;border-radius: 4px;">
                                    <td colspan="4">
                                       <table cellspacing="0"  width="100%" >
                                          <tbody >
                                             <tr style="">
                                                <td colspan="4">
                                                   <div style="">
                                                     <tr>
                                                       <td style="font-family:Arial,Helvetica,sans-serif;padding:20px 30px">
                                                       <h1 style="color: #ec2027;font-size:22px;text-align:center">WELCOME TO  FETCH 39</h1>
                                                       <p style="color: #000000;font-size:18px;margin-top:40px;"><b>Dear {{username}},</b></p>
                                                       <p style="color: #686868;font-size:18px;line-height:29px;letter-spacing: 2px;">Your profile details have been updated by the administrator. We have mentioned them below. Please review.</p>
                                                       <p style="color: #686868;font-size:18px;line-height:29px;">Name as per passport: Maji<br>Username: @maji65<br>Residential address: 3764 Spruce Drive, Beaver Falls,<br>Pennsylvania, zip code - 15010.<br>Email: Maji@yopmail.com<br>Password: Optisol<br>Mobile Number: 987655432<br>Government ID: 8764 7899 6650 8463<br>Expiry date; 02/09/2045<br></p>
                                                       <p style="font-size:14px;color:#000000;margin-top:40px;"><i>Note: We look forward to serve you better.</i></p>
                                                       <p style="color: #000000;font-size:14px;margin-top:70px;line-height:21px;"><b>Kindly contact us for any clarifications.<br>
                                                       Email: contact@fetch39.net, info@fetch39.net<br>
                                                       Phone: +971 50 236 7800<br>
                                                       Best,<br>
                                                       Fetch39 Team
                                                       </b></p>
                                                       </td>
                                                     </tr>
                                                    </div>
                                                  </td>
                                             </tr>
                                            </tbody>
                                       </table>
                                    </td>
                                </tr>
                              </tbody>
                           </table>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </td>
            </tr>
        </tbody>
      </table>
  </body>
<html>
