<html>
<body style="margin:0px;width:100%;padding:20px;">
<table cellspacing="0" style="background-image: url('bg.png');background-repeat:no-repeat;width:600px; margin:0 auto; position:relative; border:1px solid #f8f8f8; box-shadow: #e5e5e5 0 0 60px;padding:15px;">
<tbody>
   <tr>
      <td>
               <table style="width:100%;border: 1px solid #ec2027; ">
                  <tbody>
                     <tr>
                        <td>
                           <table style="width:100%">
                              <tbody>
                                 <tr>
                                    <td style="padding-left:0px" >
                                       <div  style="padding: 0px 60px;text-align:center; margin-top: 37px; ">
                                          <img src="https://s3.amazonaws.com/fetch39/LOGO/logo.png" alt="Deelchat logo" style="width: 80px;display:block;margin:auto;">
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                      </tr>
                    <tr>
                      <td>
                        <table style="width:100%">
                           <tbody>
                              <tr>
                                 <td style="float:right; text-align:right; width:60%; color:#7e7e7e; font-family:Arial,Helvetica,sans-serif; font-size:16px">
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="4" >
                           <table cellspacing="0" cellpadding="0" style="width:100%;background: white;border-radius:0px 0px 30px 30px;padding-bottom:40px;">
                              <tbody>
                                 <tr style="width:100%;padding:0 20px 81px 20px;border-radius: 4px;">
                                    <td colspan="4">
                                       <table cellspacing="0"  width="100%" >
                                          <tbody >
                                             <tr style="">
                                                <td colspan="4">
                                                   <div style="">
                                                     <tr>
                                                       <td style="font-family:Arial,Helvetica,sans-serif;padding:20px 30px">
                                                       <h1 style="color: #ec2027;font-size:22px;text-align:center">WELCOME TO  FETCH 39</h1>
                                                       <p style="color: #000000;font-size:18px;margin-top:40px;"><b>Dear {{username}},</b></p>
                                                       <p style="color: #686868;font-size:18px;line-height:29px;letter-spacing: 2px;">Your shipment for the deal number <b>{{deal}}</b> has been accepted by the receiver.<br>
                                                       Please have note of this OTP:<b>{{otp}}.</b><br>
                                                       Kindly share this OTP to carrier, only after the carrier has arrived and given your shipment. Once carrier enters the OTP, this shipment will be considered as delivered and the payments will be transferred to his account.</p>
                                                       <!-- <p style="font-size:14px;color:#000000;margin-top:40px;"><i>Note: Please do not allow carrier to proceed with the shipment until you<br> get a OTP shared successful notification.</i></p> -->
                                                       <p style="color: #000000;font-size:14px;margin-top:70px;line-height:21px;"><b>Best,<br>
                                                       Fetch39 Team</b></p>
                                                       </td>
                                                     </tr>
                                                    </div>
                                                  </td>
                                             </tr>
                                            </tbody>
                                       </table>
                                    </td>
                                </tr>
                              </tbody>
                           </table>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </td>
            </tr>
        </tbody>
      </table>
  </body>
<html>
